<h1 id="genre-header"><%= @genre.name %></h1>

<% @genre.books.each do |g| %>

  <div id="book-span">
    <%= image_tag g.avatar_url(:small).to_s %>
    <p>
      <%= link_to g.title, book_path(g) %><br />by <%= g.user.full_name %>
      <%= image_tag("icons8-literature-filled-100.png")%><button type="button"><%= link_to "explore", book_path(g), id: "explore_link" %></button>
    </p>
  </div><br />
<% end %>
