<div id="profile-pic-container">
  <%= image_tag current_user.avatar_url(:small).to_s, class: "img-fluid"  %><br />
</div>
<% if current_user.author? %>

<h1>Welcome Author, <%= current_user.full_name %></h1>

<div id="new-book-upload">
  <h3>Upload one of your books to be reviewed!</h3>
  <%= link_to "new book", new_book_path %><br />
</div>
<% end %>


  <% current_user.books.each do |b| %>




  <div id="author-profile-books">
    <%= image_tag b.avatar_url(:thumb).to_s, class: "img-fluid" %>
    Title: <b><%= b.title %></b><br />
    Description: <%= b.description.html_safe %><br />
    <b>Genres:</b> <%= b.genres.map { |x| x.name }.join(',') %><br />
    <%= link_to "Edit", edit_book_path(b) %>  
  </div>


    <% end %>
<% if current_user.reviewer? %>

<h1>Welcome Reviewer, <%= current_user.full_name %></h1><br />


<h2 id="scorecard-header">My Scorecard</h3>

<table id="scorecard-container">
  <th>Total Reviews</th>
  <th>Helpful</th>
  <th>Unhelpful</th>
  <th>Score</th>

  <tr id="scorecard">
    <td><%= current_user.reviews.count %></td>
    <td><%= @helpful.count %></td>
    <td><%= @unhelpful.count %></td>
    <td><%= number_to_percentage(@score * 100, precision: 0) %></td>

  </tr>
</table>


<div id="currently-reading">
  <h3><b>Currently Reading</b></h3>
  <% current_user.claims.each do |c| %>
  <%= link_to c.title, c, id: "currently-reading-link" %><br />
  <% end %>
</div><br />

<%= link_to "Your next book", genres_path, id: "next-book" %>

<% end %>
