<%= image_tag @user.avatar_url(:thumb).to_s %><b><%= @user.first_name + " " + @user.last_name %></b><br />


<% if @user.author? %>

  <% @user.books.each do |b| %>





    <%= image_tag b.avatar_url(:thumb).to_s %>
    Title: <b><%= b.title %></b><br />
    Description: <b><%= b.description.html_safe %></b><br />
    Genres: <%= b.genres.map { |x| x.name }.join(',') %><br />


    <% end %>
<% end %>

<% if @user.reviewer? %>

<h1><%= @user.first_name + " " + @user.last_name %></h1>

  <% @user.reviews.each do |r| %>

    <%= r.book.title %>
    <%= r.book.user.first_name + r.book.user.last_name %>
    <%= r.book.comment %>
  <% end %>
<% end %>
