<!DOCTYPE html>

<body>
<div id="user-show-profile-pic">
  <%= image_tag @user.avatar_url(:thumb).to_s, class: "img-fluid" %><b><%= @user.full_name %></b><br />
</div>

<% if @user.author? %>

  <% @user.books.each do |b| %>




  <div id="author-show-page-book">
    <%= image_tag b.avatar_url(:small).to_s, class: "img-fluid" %>
    <div class='star-rating' data-score=<%= @avg_rating %>></div>
      <em><%= "#{b.reviews.size} reviews" %></em><br />
    Title: <b><%= b.title %></b><br />
    Description: <b><%= b.description.html_safe %></b><br />
    Genres: <%= b.genres.map { |x| x.name }.join(',') %><br />
  </div>


    <% end %>
<% end %>

<% if @user.reviewer? %>

<h1>Reviewer <%= @user.full_name %></h1><br />

  <% @user.reviews.each do |r| %>

  <div id="user-reviews">
    <%= image_tag r.book.avatar_url(:small).to_s, class: "img-fluid", id: "book_image" %><br />
    <b><%= r.book.title %><b><br /> by <%= r.book.user.first_name + " " + r.book.user.last_name %><br />

    <h2>Review</h2><%= r.created_at.to_date %><br />
      Rating: <div class="star-rating" data-score= <%= r.rating %> ></div>
      <%= @user.first_name %> said: <%= r.comment.html_safe %><br />
      **<i><%= r.helpful? %></i>
  </div><br />

  <% end %>
  <% if !@user.reviews.present? %>
    No reviews yet
    <% end %>
<% end %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
</body>
