<!DOCTYPE html>


<body>
<div id="user-show-profile-pic">
  <%= image_tag @user.avatar_url(:thumb).to_s, class: "img-fluid" %><b><%= @user.full_name %></b><br />
</div>

<% if @user.author? %>

<div id="author_bio">
  <h3>About <%= @user.first_name %></h3>
  <p id="bio_text">
    
    <script>
      $(window).on("load", function(){
        $(".read-less-<%= @user.id %>").addClass("hide");
      });
    </script>

    <% if @user.bio.blank?%>
          
          <div>
            <p>
              No bio yet :(
            </p>
          </div>

    <% elsif @user.bio.length > 150 %>
      <%= truncate(@user.bio, escape: false, length: 120) %>
      <%= link_to "read more", '', class: "read-more-#{@user.id}" %>
       <%= link_to "read less", '', class: "read-less-#{@user.id}"%>
      <script>
        $(".read-more-<%= @user.id %>").on("click", function(e){
          e.preventDefault()
          $(this).parent().html('<%= escape_javascript @user.bio %>')
           $(".read-less-<%= @user.id %>").addClass("show")
          });
        

           
         
         

       
      </script>


      <% else %>
        
        <% @user.bio %>

    <% end %>
  </p>
</div>

  <% @user.books.each do |b| %>


 

  <div id="author-show-page-book">
    <%= image_tag b.avatar_url(:small).to_s, class: "img-fluid" %>
    <div class='star-rating' data-score=<%= @avg_rating %>></div>
      <em><%= "#{b.reviews.size} reviews" %></em><br />
    Title: <%= link_to b.title, b %><br />
    Description: <b><%= b.description.html_safe %></b><br />
    Genres: <%= b.genres.map { |x| x.name }.join(',') %><br />
  </div>


    <% end %>
<% end %>

<% if @user.reviewer? %>

  <% @user.reviews.each do |r| %>

  <div id="user-reviews">

    <%= link_to image_tag(r.book.avatar_url(:small).to_s), r.book %><br />
    <b><span id="book_title"><%= r.book.title %></span><b><br /> by 
      <%= link_to r.book.user.full_name, r.book.user %><br />
    <div id="actual_review">
      <h2>Review</h2><%= r.created_at.to_date %><br />
        Rating: <div class="star-rating" data-score= <%= r.rating %> ></div>
        <%= @user.first_name %> said: <%= r.comment.html_safe %><br />
        <span><i>**<%= r.unhelpful? %></i></span>
    </div>
  </div><br />

  <% end %>
  <% if !@user.reviews.present? %>
    <p id="no-reviews">No reviews yet :(</p>
    <% end %>
<% end %>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
   
</script>

</body>
>
