<%= image_tag @user.avatar_url(:thumb).to_s %><h1>Welcome, <%= @user.first_name + " " + @user.last_name %></h1>

<% if @user.author? %>

<h3>Upload one of your books to be reviewed!</h3>
<%= link_to "new book", new_book_path %><br />

<h4>Your current titles</h4>
<% @user.books.each do |b| %>

<%= image_tag b.avatar_url(:thumb).to_s %>
Title: <b><%= b.title %></b><br />
Description: <b><%= b.description.html_safe %></b><br />
Genres: <%= b.genres.map { |x| x.name }.join(',') %><br />

<% end %>
<% else %>


<div id="Still in Review">
  <h3><b>Currently Reading</b></h3>
  <% @user.claims.each do |c| %>
  <%= link_to c.title, c %><br />
  <% end %>
</div><br />

<%= link_to "Your next book", genres_path %>

<% end %>
