<h1 id="author-signup-header"><%= image_tag "icons8-literature-filled-50.png" %> Become an Author With Us!</h1>


<h3>You're already used to paying for Netflix or Spotify, why not invest into your future success as an author?</h3>
<div id="netflix">
  <%= image_tag "app-entertainment-ipad-265685.jpg", style: "width:400px;height:400px;" %>
  <p>Movies are good...</p>
</div>
<div id="reading-pic">
  <%= image_tag "Canva - Woman sitting on stack of books.jpg", style: "width:400px;height:400px;", class: "img-fluid" %>
    <p>but books are better!</p>
</div>
<div id="author-subscription-container">
  <h3>Author Subscription Plan</h3>
  <%= image_tag "icons8-five-of-five-stars-64.png" %>
  <p>We've put together a package we know you'll go for.<br>
    Unlimited reviews. Only $9.99/month. Cancel anytime.</p>
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Monthly author subscription"
            data-amount="999"
            data-label="subscribe"
            data-locale="auto"></script>
  <% end %>
</div>
