<!DOCTYPE html>
<body>
<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @book.avatar_url(:small).to_s, class: "img-fluid" %>
</div>
<div id="book-show-details">
  <p>
    <strong>Author:</strong>
    <%= @book.user.full_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @book.description.html_safe %>
  </p>
</div>
<div id="author-books">
  More Books by this author: <%=link_to @book.user.full_name, user_path(@book.user) %>
</div><br />


<div id="review-section">
  <strong>Reviews</strong>
  <% if @book.reviews.blank? %>
    <p>This book hasn't received any reviews yet...</p>
  <% else %>
  <div class='star-rating' data-score=<%= @avg_rating %>></div>
    <em><%= "#{@book.reviews.size} reviews" %></em>
    <% end %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Reviewer</th>
        <th>Rating</th>
        <th>Review</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <% @book.reviews.each do |r| %>
        <tr>
          <td><%= image_tag r.user.avatar_url(:thumb).to_s %></td>
          <td><b><%= link_to r.user.full_name, user_path(r.user) %></b></td>
          <td class="star-rating" data-score= <%= r.rating %> ></td>
          <td><%= r.comment.html_safe %></td>

        </tr>
        <tr>
          <td><%= r.unhelpful? %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>


<% if current_user.reviewer? %>

  <h3>Add to Reading List</h3>
  <% if @book.claims.include? current_user %>
    <%= link_to "Done reading", unclaim_book_path(@book.id), style: "color:white;font-size:15px;" %>
    <% else %>
    <%= link_to "Add", claim_book_path(@book.id), style: "color:white;font-size:15px;" %>
  <% end %>

  <h2>Leave a Review</h2>


  <% if current_user.reviews.where(book: @book).exists? %>
  <p>You've already reviewed this</p>
  <% else %>
    <div id="review-links">
      <%= link_to "write a review", new_book_review_path(@book.id), style: "color:white;font-size:15px;" %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', books_path, style: "color:white;" %>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
</body>
