<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @book.avatar_url(:medium).to_s %>
</div>
<p>
  <strong>Author:</strong>
  <%= @book.user.first_name %> <%= @book.user.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description.html_safe %>
</p>

<p>
  <strong>Reviews</strong>
  <% @book.reviews.each do |r| %>

    <%= r.comment %>
  <% end %>
</p>

<% if current_user.reviewer? %>
  <div id="review-links">
    <% if @book.claims.include?(current_user) %>
      You've already claimed it to review
    <% else %>
      <%= link_to "review this book", claim_book_path(@book.id) %>
    <% end %>
  </div>

  <div id="review">
    <h4>Leave a review</h4>
    <% if @book.claims.include?(current_user) %>
      <%= link_to "I'm ready to review", unclaim_book_path(@book.id) %>
      <% else %>
        <%= link_to "write a review", new_book_review_path(@book.id) %>
     <% end %>
  </div>


<% end %>
<%= link_to 'Back', books_path %>
