<!DOCTYPE html>
<html>
  <head>
    <title>Books4reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <nav>
      <ul id="main-links">
        <li id="home_link"><%= link_to "Books4Reviews", root_path %></li>

        <% if user_signed_in? %>

          <div class="dropdown" data-behavior="notifications">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-behavior="notifications-link">
              <%= image_tag "icons8-bell-24.png"%><span data-behavior="unread-count"></span>
            </button>
            <div class="dropdown-menu" data-behavior="notification-items">

            </div>
            <%= link_to "mark all as read", mark_as_read_notifications_path(@notifications), id: "mark_as_read", method: :post, style: "color:black;" %>

          </div>

      <ul id="dropdown-container">
        <li><%= image_tag "icons8-menu-50.png"%></li>
          <ul class="user-dropdown">
            <li><%= link_to "Books", books_path %></li>
            <li><%= link_to "Genres", genres_path %></li>
            <li><%= link_to "Reviewers", reviewers_path %></li>
            <li><%= link_to "Authors", authors_path %></li>
            <div class="separated-links">
              <li><%= link_to "Contact Us", new_message_path, style: "color:black" %></li>
              <li><%= link_to "Profile", current_user_path, style: "color:black" %></li>
              <li><%= link_to edit_user_path(current_user), style: "color:black" do %>
                <%= image_tag "icons8-automatic-26.png", style: "width:40px;height:40px;" %>
                <% end %>
              </li>
              <li><%= link_to "log out", destroy_user_session_path, method: :delete, style: "color:black" %></li>
            </div>
          </ul>
      </ul>
        <% end %>
    </ul>
  </nav>

  <body>


    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
